/* Write your code here. */
.bg {
  background-image: linear-gradient(to right, #1ec44b, hsl(124, 54%, 30%));
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-right: 5px;
  height: 100vh;
}
.text {
  text-align: left;
}
.heading {
  color: black;
  font-family: 'Times New Roman';
  font-size: 50px;
}
.para {
  font-size: 20px;
  color: black;
  font-family: 'roboto';
  font-weight: bold;
  padding-top: 2px;
}
.input {
  color: black;
  font-family: 'roboto';
  border-radius: 6px;
  border: none;
  outline: none;
  width: 400px;
  height: 30px;
  margin-bottom: 3px;
}
.count {
  border-radius: 10px;
  background-color: rgb(219, 226, 221);
  color: #826411;
  height: 50px;
  width: 200px;
  text-align: left;
  margin-top: 3px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2px;
}
.img {
  height: 500px;
  width: 450px;
}
.p {
  font-size: 19px;
  color: #1ec44b;
  font-family: 'roboto';
  font-weight: bold;
}
